body{
    background-color:#0a0a23;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 20px;

}
#image{
    max-width:100%;
    height: auto;
    
}
#title{
    text-align:center;
    color: #ffffff;
}

#img-div{
    background-color:#eeeeee;
    text-align: center;
    padding: 0px;
    margin: 20px 15px;
    max-width: 100%;
    align-items: center;
    border-radius: 5px ;
}


#img-caption{

    color:rgb(0, 0, 0);
    border:none;

}

#tribute-info { 
    text-align: center;
}

#tribute-info >ul{
    display: inline-block;
    color: #ffffff;
 
}

#tribute-info >ul >li{
    padding: 5px;
}

#tribute-link {
    text-align: center;
    color: #ffffff;
    display: block;
    
}