body{
    background-color:#0a0a23;;
    font-family: Arial, Helvetica, sans-serif;
}

#image{
    width: 50%;
    height: auto;
    margin: auto;
    max-width: 100%;
    display: block;
    padding: 20px;
}
#title{
    text-align: center;
    color: #ffffff;
}

#img-div{
    background-color:#eeeeee;
    text-align: center;
    padding: 0px;
    margin: 20px auto;
    max-width: 100%;
    align-items: center;
}


#img-caption{

    color:rgb(0, 0, 0);
    border:1px solid black;
    border:none;

}

#tribute-info { 
    text-align: center;
}

#tribute-info >ul{
    display: inline-block;
    color: #ffffff;
 
}

#tribute-info >ul >li{
    padding: 5px;
}

#tribute-link {
    text-align: center;
    color: #ffffff;
    display: block;
    
}